$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Raleway:wght@900&family=Roboto:wght@300&display=swap');

body {
  background-color: $light-gray;
  font-family: 'Outfit', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 0.938rem;
}

main {
  background-color: $white;
}
